/*--------------------------------------------------------------------------------------------------------------
*  Template
*--------------------------------------------------------------------------------------------------------------*/
html {
  font-size: 18px;
  font-family: GmarketSans, sans-serif;
}
.contain .wrap aside .inner .depth1 > li {
  padding-left: 0.94444444rem !important;
  position: relative;
}
.contain .wrap aside .inner .depth1 > li > a {
  padding-left: 1.38888889rem;
  box-sizing: border-box;
}
.contain .wrap aside .inner .depth1 > li:after {
  content: '';
  display: block;
  background-size: contain;
  position: absolute;
  left: 0.61111111rem;
  pointer-events: none;
}
.contain .wrap aside .inner .depth1 > li:nth-child(1):after {
  content: '';
  display: block;
  width: 1.27777778rem;
  height: 1.11111111rem;
  background-image: url('../img/add/ico-1.png');
  top: 0.88888889rem;
}
.contain .wrap aside .inner .depth1 > li:nth-child(2):after {
  content: '';
  display: block;
  width: 1.33333333rem;
  height: 1.27777778rem;
  background-image: url('../img/add/ico-2.png');
  top: 0.77777778rem;
}
.contain .wrap aside .inner .depth1 > li:nth-child(3):after {
  content: '';
  display: block;
  width: 1.27777778rem;
  height: 1.27777778rem;
  background-image: url('../img/add/ico-3.png');
  top: 0.77777778rem;
}
.contain .wrap aside .inner .depth1 > li:nth-child(4):after {
  content: '';
  display: block;
  width: 0.94444444rem;
  height: 1.22222222rem;
  background-image: url('../img/add/ico-4.png');
  top: 0.83333333rem;
}
.contain .wrap aside .inner .depth1 > li:nth-child(5):after {
  content: '';
  display: block;
  width: 1.11111111rem;
  height: 1.05555556rem;
  background-image: url('../img/add/ico-5.png');
  top: 0.83333333rem;
}
.contain .wrap aside .inner .depth1 > li:nth-child(6):after {
  content: '';
  display: block;
  width: 1.11111111rem;
  height: 1.11111111rem;
  background-image: url('../img/add/ico-6.png');
  top: 0.66666667rem;
}
.contain .wrap aside .inner .depth1 > li:nth-child(7):after {
  content: '';
  display: block;
  width: 1.22222222rem;
  height: 1.33333333rem;
  background-image: url('../img/add/ico-7.png');
  top: 0.72222222rem;
}
.contain .wrap aside .inner .depth2 li a i {
  margin-right: 0.77777778rem !important;
  box-sizing: border-box;
}
.contain .wrap article section .info-table {
  width: 12.22222222rem;
  table-layout: fixed;
}
.contain .wrap article section .info-table tr th {
  font-size: 1rem;
  color: #fff;
  background-color: #115abc;
  font-weight: 500;
  text-align: center;
  padding-top: 0.38888889rem;
  padding-right: 0rem;
  padding-bottom: 0.38888889rem;
  padding-left: 0rem;
  box-sizing: border-box;
}
.contain .wrap article section .info-table tr td {
  font-size: 0.88888889rem;
  color: #333;
  padding-top: 0.44444444rem;
  padding-right: 0rem;
  padding-bottom: 0.44444444rem;
  padding-left: 0rem;
  box-sizing: border-box;
  font-weight: 500;
}
.contain .wrap article section .info-table tr td:nth-child(1) {
  text-align: left;
  padding-left: 0.66666667rem;
  background-color: #b3cae8;
  border-bottom: 1px solid #fff;
}
.contain .wrap article section .info-table tr td:nth-child(2) {
  text-align: right;
  padding-right: 0.66666667rem;
  background-color: #fff;
  border-bottom: 1px solid #b3cae8;
}
.contain .wrap article section .info-table tr:last-child td {
  border-bottom: 0;
}
.contain .wrap article section .map-wrap .map-view span {
  z-index: 1;
  cursor: pointer;
}
.contain .wrap article section .map-wrap .map-view .area-info {
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
  border: 1px solid #115abc;
  box-sizing: border-box;
  border-radius: 0.16666667rem;
  display: none;
  overflow: hidden;
  z-index: 2;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info1 {
  left: 0rem;
  top: 12.22222222rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info2 {
  left: 3.33333333rem;
  top: 13.33333333rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info3 {
  left: 0rem;
  top: 11.66666667rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info4 {
  left: 9.72222222rem;
  top: 10.55555556rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info5 {
  left: 0rem;
  top: 22.22222222rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info6 {
  left: 6.38888889rem;
  top: 18.33333333rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info7 {
  left: 3.05555556rem;
  top: 23.05555556rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info8 {
  right: 0rem;
  top: 22.22222222rem;
  left: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info9 {
  left: 1.66666667rem;
  top: 29.44444444rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info10 {
  left: 12.5rem;
  top: 27.22222222rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info11 {
  left: 0rem;
  bottom: 0rem;
  right: auto;
  top: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info12 {
  left: 0rem;
  bottom: 1.66666667rem;
  right: auto;
  top: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info13 {
  left: 8.88888889rem;
  bottom: 3.61111111rem;
  right: auto;
  top: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info14 {
  right: 0rem;
  top: 31.38888889rem;
  left: auto;
  bottom: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info15 {
  right: 0rem;
  bottom: 2.22222222rem;
  left: auto;
  top: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info16 {
  left: 5.55555556rem;
  bottom: 0rem;
  right: auto;
  top: auto;
}
.contain .wrap article section .map-wrap .map-view .area-info.area-info17 {
  left: 1.38888889rem;
  top: 20.55555556rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .local-area {
  position: absolute;
  left: 26.66666667rem;
  top: 2.77777778rem;
  right: auto;
  bottom: auto;
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-color: #f4f4f3;
  z-index: 1;
  display: none;
}
.contain .wrap article section .local-area .reg {
  display: none;
}
.contain .wrap article section .local-area .reg .tit {
  font-size: 1.33333333rem;
  font-weight: 500;
  color: #333;
  position: absolute;
  left: 3.61111111rem;
  top: 1.11111111rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .local-area .reg .pin {
  width: 2.72222222rem;
  height: 3.05555556rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/pin.png');
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.contain .wrap article section .local-area .reg .info-table {
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  margin-top: 3.33333333rem;
  display: none;
}
.contain .wrap article section .local-area .reg .info-table tr th {
  text-align: left;
  padding-left: 0.66666667rem;
  box-sizing: border-box;
}
.contain .wrap article section .local-area .region1 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region1.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region2 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region2.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region3 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region3.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region3 .pin {
  left: 11.66666667rem;
  top: 29.72222222rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .local-area .region3 .info-table3 {
  left: 11.66666667rem;
  top: 30rem;
  right: auto;
  bottom: auto;
}
.contain .wrap article section .local-area .region4 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region4.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region5 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region5.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region6 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region6.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region7 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region7.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region8 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region8.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region9 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region9.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region10 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region10.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region11 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region11.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region12 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region12.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region13 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region13.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region14 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region14.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region15 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region15.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region16 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region16.png');
  background-size: contain;
}
.contain .wrap article section .local-area .region17 {
  width: 53.27777778rem;
  height: 46.11111111rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/region17.png');
  background-size: contain;
}
.contain .wrap article section .local-area .reg-close {
  width: 3.55555556rem;
  height: 3.66666667rem;
  position: absolute;
  right: 2.33333333rem;
  top: 0rem;
  left: auto;
  bottom: auto;
  background-repeat: no-repeat;
  background-image: url('../img/add/close.png');
  background-size: contain;
}
.contain .wrap article section .local-area.open {
  display: inline-block;
}
.contain .wrap article section .local-area.open .reg.on {
  display: inline-block;
}
.contain .wrap article section.region-open {
  min-width: 106.66666667rem;
}
.contain .wrap.add article section.dispenser {
  padding-right: 1.66666667rem;
  box-sizing: border-box;
  zoom: 1;
  height: 61.11111111rem;
}
.contain .wrap.add article section.dispenser:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
.contain .wrap.add article section.dispenser .garage-status {
  margin-top: 1.66666667rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 5.61111111rem;
  width: 75%;
  border-radius: 0.22222222rem;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each {
  font-size: 0rem;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li {
  font-size: 0rem;
  width: 16%;
  margin-right: 0.8%;
  display: inline-block;
  vertical-align: top;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li:last-child {
  margin-right: 0rem;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .c-cell {
  background-color: #fff;
  border-radius: 0.22222222rem;
  width: 100%;
  height: 9.66666667rem;
  text-align: center;
  padding-top: 1.27777778rem;
  box-sizing: border-box;
  margin-bottom: 0.27777778rem;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .c-cell p {
  font-size: 1rem;
  font-weight: 500;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .c-cell span {
  width: 3.55555556rem;
  height: 4.38888889rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/standby.png');
  background-size: contain;
  display: inline-block;
  margin-top: 1.55555556rem;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .bus {
  width: 49%;
  height: 25.55555556rem;
  margin-right: 2%;
  background-color: #fff;
  border-radius: 0.22222222rem;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 2rem;
  box-sizing: border-box;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .bus:last-child {
  margin-right: 0rem;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .bus span {
  width: 5rem;
  height: 13.66666667rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/add/standby-bus.png');
  background-size: contain;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .bus p {
  font-size: 0.88888889rem;
  line-height: 1rem;
  font-weight: 500;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .bus p.num {
  margin-top: 0.38888889rem;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .bus p.soc {
  margin-top: 0.94444444rem;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .bus p.amount {
  margin-top: 1.33333333rem;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .per20 span {
  background-repeat: no-repeat;
  background-image: url('../img/add/per20.gif');
  background-size: contain;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .per40 span {
  background-repeat: no-repeat;
  background-image: url('../img/add/per40.gif');
  background-size: contain;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .per60 span {
  background-repeat: no-repeat;
  background-image: url('../img/add/per60.gif');
  background-size: contain;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .per80 span {
  background-repeat: no-repeat;
  background-image: url('../img/add/per80.gif');
  background-size: contain;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li .bus-status .per100 span {
  background-repeat: no-repeat;
  background-image: url('../img/add/complete.gif');
  background-size: contain;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li.fast .c-cell span {
  background-image: url('../img/add/charging.png');
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li.fast .bus-status .bus:nth-child(1) span,
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li.fast .bus-status .bus:nth-child(1) p {
  display: none;
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li.fast .bus-status .bus:nth-child(2) span {
  background-image: url('../img/add/fast.gif');
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li.charging .c-cell span {
  background-image: url('../img/add/charging.png');
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li.complete .c-cell span {
  background-image: url('../img/add/complete.png');
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li.complete .bus-status .bus span {
  background-image: url('../img/add/complete.gif');
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li.error .c-cell span {
  background-image: url('../img/add/error.png');
}
.contain .wrap.add article section.dispenser .garage-status .charger-each ul li.repair .c-cell span {
  background-image: url('../img/add/repair.png');
}
.contain .wrap.add article section.dispenser .charger-wrap {
  float: right;
}
.contain .wrap.add article section.dispenser .charger-wrap .charger-inner {
  background-color: #fff;
  border-radius: 0.22222222rem;
  padding: 0.83333333rem;
  margin-bottom: 0.55555556rem;
  box-sizing: border-box;
  overflow: hidden;
}
.contain .wrap.add article section.dispenser .charger-wrap .charger-inner .charger-status {
  margin: 0rem;
  border-radius: 0rem;
  padding: 0rem;
}
.contain .wrap.add article section.dispenser .charger-wrap .charger-inner .charger-status:nth-child(1) {
  padding-bottom: 1.11111111rem;
}
.contain .wrap.add article section.dispenser .charger-wrap .charger-inner .charger-status h3 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0.55555556rem;
  margin-left: 0rem;
}
.contain .wrap.add article section.dispenser .charger-wrap .charger-inner .charger-status ul li {
  padding-top: 0rem;
  height: 2.22222222rem;
  line-height: 2.22222222rem;
}
.contain .wrap.add article section.dispenser .charger-wrap .charger-inner .charger-status ul li span s {
  color: #333;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy {
  width: 100%;
  overflow: hidden;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy:after {
  content: '';
  display: block;
  width: 36.16666667rem;
  height: 12.38888889rem;
  position: absolute;
  left: 11.33333333rem;
  top: 6.61111111rem;
  right: auto;
  bottom: auto;
  background-repeat: no-repeat;
  background-image: url('../img/add/flowing-r.gif');
  background-size: contain;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .flowing {
  position: absolute;
  left: 11.33333333rem;
  top: 6.61111111rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner {
  width: 100%;
  height: 100%;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .kepco {
  left: 8.61111111rem;
  top: 6.66666667rem;
  right: auto;
  bottom: auto;
  z-index: 1;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .kepco:before {
  display: none;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .cont-box {
  z-index: 1;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .cont-box:before,
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .cont-box:after {
  display: none;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .cont-box.cont-box1 {
  left: 24.33333333rem;
  top: 6.66666667rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .cont-box.cont-box2 {
  left: 43.66666667rem;
  top: 6.66666667rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger {
  position: absolute;
  left: 9.05555556rem;
  top: 19rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li {
  width: 4.94444444rem;
  height: 13.88888889rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 2.22222222rem;
  padding-top: 5.88888889rem;
  box-sizing: border-box;
  position: relative;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li .inner {
  width: 4.94444444rem;
  height: 8rem;
  background-color: #f4f4f3;
  border-radius: 0.22222222rem;
  text-align: center;
  padding-top: 1.77777778rem;
  box-sizing: border-box;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li .inner span {
  width: 3.55555556rem;
  height: 4.38888889rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/standby.png');
  background-size: contain;
  display: inline-block;
  margin-left: 0.61111111rem;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li .inner p {
  font-size: 0.88888889rem;
  font-weight: 500;
  margin-top: 0.27777778rem;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li .inner p:after {
  content: '충전대기';
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li:last-child {
  margin-right: 0rem;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.charging .inner span {
  background-repeat: no-repeat;
  background-image: url('../img/add/charging.png');
  background-size: contain;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.charging .inner p:after {
  content: '충전중';
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.complete .inner span {
  background-repeat: no-repeat;
  background-image: url('../img/add/complete.png');
  background-size: contain;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.complete .inner p:after {
  content: '충전완료';
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.repair .inner span {
  background-repeat: no-repeat;
  background-image: url('../img/add/repair.png');
  background-size: contain;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.repair .inner p:after {
  content: '고장수리';
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.charging:nth-child(1):after {
  content: '';
  display: block;
  width: 40.77777778rem;
  height: 5.88888889rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/flow1.gif');
  background-size: contain;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.charging:nth-child(2):after {
  content: '';
  display: block;
  width: 33.61111111rem;
  height: 5.88888889rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/flow2.gif');
  background-size: contain;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.charging:nth-child(3):after {
  content: '';
  display: block;
  width: 26.44444444rem;
  height: 5.88888889rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/flow3.gif');
  background-size: contain;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.charging:nth-child(4):after {
  content: '';
  display: block;
  width: 19.27777778rem;
  height: 5.88888889rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/flow4.gif');
  background-size: contain;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.charging:nth-child(5):after {
  content: '';
  display: block;
  width: 12.11111111rem;
  height: 5.88888889rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/flow5.gif');
  background-size: contain;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article section.e-power .cont-wrap .inner .genealogy .gen-inner .flowing-charger li.charging:nth-child(6):after {
  content: '';
  display: block;
  width: 4.94444444rem;
  height: 5.88888889rem;
  background-repeat: no-repeat;
  background-image: url('../img/add/flow6.gif');
  background-size: contain;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: auto;
  bottom: auto;
}
.contain .wrap.add article.aside-on section.dispenser .garage-status {
  margin-left: 14.44444444rem;
  width: 66.7%;
}
.contain .wrap.p05 article section.integrated {
  height: auto;
}
/*# sourceMappingURL=add-style.css.map */